# Default ignored files
.idea

# Credentials
core/configs/credentials
core/configs/.env
core/.venv

# Data
neural_dataflow/data/processed/*
neural_dataflow/data/raw/*

# Logs
neural_dataflow/logs/logs.txt

# Dist

# Old Version

# Pycache
core\__pycache__
core\singleton\__pycache__

