# Default ignored files
.idea
core/configs

# Credentials
core/configs/credentials
core/.venv

# Data
neural_dataflow/data/processed/*
neural_dataflow/data/raw/*

# Logs
neural_dataflow/logs/logs.txt

# Dist

# Old Version

# Pycache
core\__pycache__
core\singleton\__pycache__

